.card {
    position: relative;
    &__image {
            width: 300px;
            height: 100%;
            transition: transform 0.3s ease-in;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
    }
    &__modify {
        position: absolute;
        bottom: 2%;
        right: 2%;
        cursor: pointer;
        &:active {
            color: red;
        }
    }
}
