.quickView {
    position: fixed;
    z-index: 2;
    background-color: #111;
    border-radius: 10px;
    height: calc(100vh - 60px);
    top: 60px;
    margin: 0 2%;
    // overflow-y: scroll;
    // overflow-x: visible;
    // overflow-y: hidden;
    display: none;
    box-shadow: 0 0 10px rgba(000, 000, 000, 0.3);
    &.open {
        display: block;
    }
    &__banner {
        padding-top: 50vh;
        height: 50vh;
        // width: 100vw;
    }
    &__content {
        padding: 3rem;
        font-size: 1.2rem;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        cursor: pointer;
        color: white;
        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    @media screen and (min-width: 768px) {
        width: 60%;
        left: 20%;
        right: 20%;
    }
    // ::-webkit-scrollbar {
    //     -webkit-appearance: none;
    //     background-color: #111;
    //   }
    
    //   ::-webkit-scrollbar-thumb {
    //     background-clip: padding-box;
    //     background-color: #000000;
    //     border-radius: 9px;
    //     border: 3px solid transparent;
    //     box-shadow: 0 0 1px rgba(175, 90, 175, 0.3);
    //   }
}