.user {
    color: white;
    padding: 10rem 4% 1rem 4%;
    color: white;
    &__card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
}